.prediction-result-container {
    width: 33%;
}

.prediction-container {
    display: inline-block;
}

.prediction {
    text-align: center;
}

.prediction-correct {
    color: #1DE9B6;
}

.prediction-incorrect {
    color: #F44336;
}

.accuracy-label {
    margin-left: 2.5rem;
}